integration/bods/src/main/xsd/Tavant/twms/BODs/dealerinterfaces/warrantyregistration/WarrantyRegistrationResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns="http://www.tavant.com/dealerinterfaces/warrantyregistration/response" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.tavant.com/dealerinterfaces/warrantyregistration/response" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified">
	<xs:element name="WarrantyRegistrationResponse">
		<xs:complexType>
			<xs:sequence>
				<!-- A string that indicates if the operation was SUCESS or ERROR -->	
				<xs:element name="Status" type="xs:string" nillable="false"/>
				<!-- List of business/system error codes and messages -->
				<xs:element name="ErrorCodes" type="ErrorCodesType" nillable="true"/>
				<!-- URL of Tavant application -->
      			<xs:element name="TWMSURL" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ErrorCodesType">
		<xs:sequence>
			<xs:element name="EachErrorCode" type="EachErrorCode" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EachErrorCode">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:string"/>
			<xs:element name="errorMessage" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
