integration/bods/src/main/xsd/Tavant/twms/BODs/global/Extended Warranty Notification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.tavant.com/globalsync/extendedwarrantynotification"
xmlns="http://www.tavant.com/globalsync/extendedwarrantynotification"
xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:include schemaLocation="../../Resources/Nouns/global/ApplicationAreaType.xsd" />
        <xs:element name="ExtWarrantyNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea" type="ApplicationAreaType" />
				<xs:element name="DataArea" type="DataAreaType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	<xs:complexType name="DataAreaType">
        <xs:sequence>
            <xs:element ref="BUName" />
            <xs:element name="PurchaseNotification" type="PurchaseNotificationType" />
		</xs:sequence>
	</xs:complexType> 
	<xs:element name="BUName" type="xs:string" />
	<xs:complexType name="PurchaseNotificationType">
		<xs:sequence>
			<xs:element name="NotificationType" type="xs:string"/>
			<xs:element name="DealerNumber" type="xs:string"/>			
			<xs:element name="SerialNumber" type="xs:string"/>
			<xs:element name="EquipmentItemNumber" type="xs:string"/>
			<xs:element name="WarrantyItemNumber"  type="xs:string"/>
			<xs:element name="WarrantyPlanCode" type="xs:string"/>
			<xs:element name="SalesOrderNumber" type="xs:string"/>
			<xs:element name="SalesOrderLineNumber" type="xs:string"/>
			<xs:element name="InvoiceNumber" type="xs:string"/>
			<xs:element name="InvoiceDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
