integration/bods/src/main/xsd/Tavant/twms/BODs/global/SupplierDebitNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema 
targetNamespace="http://www.tavant.com/globalsync/supplierdebitnotification"
xmlns="http://www.tavant.com/globalsync/supplierdebitnotification"
xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:include schemaLocation="../../Resources/Nouns/global/ApplicationAreaType.xsd" />
        <xs:element name="SupplierDebitNotification">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea" type="ApplicationAreaType" />
				<xs:element name="DataArea" type="DataAreaType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:complexType name="DataAreaType">		
		<xs:sequence>
			<xs:element name="Invoice" type="InvoiceType" />
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="InvoiceType">
		<xs:sequence>
			<xs:element name="Header" type="HeaderType"/>
			<xs:element name="DocumentDateTime" type="xs:string"/>
			<xs:element name="Line" type="LineType"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HeaderType">		
		<xs:sequence>
			<xs:element name="UserArea" type="UserAreaType"/>
			<xs:element name="DocumentIds" type="DocumentIdsType"/>	
			<xs:element name="TotalAmount" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="UserAreaType">		
		<xs:sequence>
			<xs:element name="WarrantyClaimNumber" type="xs:string"/>
			<xs:element name="RecoveryPartNumber" type="xs:string"/>					
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="DocumentIdsType">		
		<xs:sequence>
			<xs:element name="DocumentId" type="DocumentIdType"/>				
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="DocumentIdType">		
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>				
			<xs:element name="BatchId" type="xs:string"/>				
		</xs:sequence>
	</xs:complexType> 
	
	<xs:complexType name="LineType">
			<xs:sequence>
				<xs:element name="Tax" type="TaxType" />
				<xs:element name="TotalAmount">
					<xs:complexType>
						<xs:attribute name="currency" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TaxType">
			<xs:sequence>
				<xs:element name="TaxAmount" type="xs:decimal" />
			</xs:sequence>
	</xs:complexType>
	
	
	
</xs:schema>
