integration/bods/src/main/xsd/Tavant/twms/BODs/global/SupplierDebitSubmission.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema
	targetNamespace="http://www.tavant.com/globalsync/supplierdebitsubmission"
	xmlns="http://www.tavant.com/globalsync/supplierdebitsubmission"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">
	<xs:include
		schemaLocation="../../Resources/Nouns/global/ApplicationAreaType.xsd" />

	<xs:element name="SupplierDebitSubmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea"
					type="ApplicationAreaType" />
				<xs:element name="DataArea" type="DataAreaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:complexType name="DataAreaType">
		<xs:sequence>
			<xs:element name="Invoice" type="InvoiceType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvoiceType">
		<xs:sequence>
			<xs:element name="LineContext" type="xs:string" />
			<xs:element name="WarrantyClaimNumber" type="xs:string" />
			<xs:element name="RecoveryItemNumber" type="xs:string" />
			<xs:element name="WarrantyClaimType" type="xs:string" />
			<xs:element name="WarrantySerialNumber" type="xs:string" />
			<xs:element name="BatchSourceName" type="xs:string" />
			<xs:element name="SupplierNumber" type="xs:string" />
			<xs:element name="SiteNumber" type="xs:string" />
			<xs:element name="OperatingUnit" type="xs:string" />
			<xs:element name="TotalAmount" type="TotalAmountType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TotalAmountType">
		<xs:sequence>
			<xs:element name="CurrencyCode" type="xs:string" />
			<xs:element name="Amount" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
