integration/bods/src/main/xsd/Tavant/twms/BODs/global/UserSync.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema 
targetNamespace="http://www.tavant.com/globalsync/usersync"
xmlns="http://www.tavant.com/globalsync/usersync"
xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

<xs:include schemaLocation="../../Resources/Nouns/global/ApplicationAreaType.xsd" />

	 <xs:element name="UserSyncRequest">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="ApplicationArea" type="ApplicationAreaType" />
					<xs:element name="DataArea" type="DataAreaType"/>
				</xs:sequence>
			</xs:complexType>
	 </xs:element>	
	
	<xs:complexType name="DataAreaType">		
			<xs:sequence>
				<xs:element name="User" type="UserType" />				
			</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="UserType">
		<xs:sequence>
			<xs:element name="CustomerNumber" type="xs:string" />
			<xs:element name="UserId" type="xs:string" />
			<xs:element ref="BusinessUnits" />
            <xs:element name="Status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACTIVE"/>
                        <xs:enumeration value="INACTIVE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="NMHGUid" type="xs:string" />
			<xs:element name="JobTitle" type="xs:string" />
			<xs:element name="UserType">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="INTERNAL"/>
                        <xs:enumeration value="EXTERNAL"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="PostalAddress" type="PostalAddressType" />
            <xs:element name="Roles" type="RolesType" />
            <xs:element name="DateOfHire" type="xs:dateTime" nillable="true"/>
            <xs:element name="DateOfRenewal" type="xs:dateTime" nillable="true"/>
			<xs:element name="PreferredLanguage" type="xs:string" />
            <xs:element name="Locale" type="xs:string"/>
            <xs:element name="TechnicianDetail" type="TechnicianDetailType"/>
		</xs:sequence>
	</xs:complexType>

    
    <xs:complexType name="TechnicianDetailType">
        <xs:sequence>
            <xs:element name="DealerCode" type="xs:string"/>
            <xs:element name="LocalServiceManagerName" type="xs:string"/>
            <xs:element name="localServiceManagerAddress" type="PostalAddressType"/>
            <xs:element name="TechLocationCode" type="xs:string"/>
            <xs:element ref="CertificationDetails"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CertificationDetailsType">
        <xs:sequence>
            <xs:element name="CertificationName" type="xs:string"/>
            <xs:element name="CertificationCode" type="xs:string"/>
            <xs:element name="CertificationFromDate" type="xs:date" nillable="true"/>
            <xs:element name="CertificationToDate" type="xs:date" nillable="true"/>
            <xs:element name="Brand" type="xs:string"/>
            <xs:element name="Series" type="xs:string"/>
            <xs:element name="CategoryLevel" type="xs:string"/>
            <xs:element name="CategoryName" type="xs:string"/>
            <xs:element name="Type" type="xs:string"/>
            <xs:element name="Company" type="xs:string"/>
            <xs:element name="ArchivedDate" type="xs:date" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
	<xs:element name="BusinessUnits">
		<xs:complexType>
		 <xs:sequence>
			<xs:element name="BUName"  maxOccurs="unbounded">
			 <xs:simpleType>
				<xs:restriction base="xs:string">
				 <xs:maxLength value="40"/>
				</xs:restriction>
			 </xs:simpleType>
			</xs:element> 				
		 </xs:sequence>
		</xs:complexType>
	</xs:element>
    <xs:element name="CertificationDetails">
        <xs:complexType>
            <xs:sequence>
            <xs:element name="CertificationDetail" maxOccurs="unbounded" type="CertificationDetailsType"/>
        </xs:sequence>
        </xs:complexType>
    </xs:element>
	<xs:complexType name="RolesType">
		<xs:sequence>
			<xs:element name="NMHGRole" type="xs:string" maxOccurs="unbounded"/>				
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddressType">
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string" />				
			<xs:element name="LastName" type="xs:string" />				
			<xs:element name="AddressLine1" type="xs:string" />				
			<xs:element name="AddressLine2" type="xs:string" />				
			<xs:element name="AddressLine3" type="xs:string" />				
			<xs:element name="AddressLine4" type="xs:string" />				
			<xs:element name="SiteNumber" type="xs:string" />				
			<xs:element name="City" type="xs:string" />				
			<xs:element name="State" type="xs:string" />
			<xs:element name="CountyCode" type="xs:string" />
			<xs:element name="Country" type="xs:string" />				
			<xs:element name="PostalCode" type="xs:string" />				
			<xs:element name="ZipExtension" type="xs:string" />				
			<xs:element name="Telephone" type="xs:string" />
			<xs:element name="PhoneExt" type="xs:string" />							
			<xs:element name="Mobile" type="xs:string" />							
			<xs:element name="SecondaryPhoneExt" type="xs:string" />
			<xs:element name="Fax" type="xs:string" />							
			<xs:element name="Email" type="xs:string" />
			<xs:element name="DeliveryPointCode" type="xs:string" />							
		</xs:sequence>
	</xs:complexType>	
</xs:schema>