integration/bods/src/main/xsd/Tavant/twms/BODs/ExtendedWarrantyPriceCheckResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.tavant.com/extwarranty"
	xmlns="http://www.tavant.com/extwarranty"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include
		schemaLocation="../Resources/Nouns/ExtWarrantyApplicationAreaType.xsd" />

	<xs:element name="ExtendedWarrantyPriceCheckResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status" type="StatusType" />
				<xs:element name="DealerNo" type="xs:string" />
				<xs:element name="Plans" type="LineItemsType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="StatusType">
		<xs:sequence>
			<xs:element ref="code" />
			<xs:element ref="errorMessage" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="code" type="xs:string" />
	<xs:element name="errorMessage" type="xs:string" />
	<xs:complexType name="LineItemsType">
		<xs:sequence>
			<xs:element name="LineItem"
				type="PriceCheckResponseLineItemType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceCheckResponseLineItemType">
		<xs:sequence>
			<xs:element name="PlanCode" type="xs:string" />
			<xs:element name="PlanItemNumber" type="xs:string" />
			<xs:element name="Amount" type="AmountType" />
		</xs:sequence>
	</xs:complexType>
	<xs:attribute name="CurrencyCodeAttributeType" type="xs:string" />
	<xs:complexType name="AmountType">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute ref="CurrencyCodeAttributeType" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>