integration/bods/src/main/xsd/Tavant/twms/BODs/ExtendedWarrantyPriceCheckRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.tavant.com/extwarranty"
	xmlns="http://www.tavant.com/extwarranty"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include
		schemaLocation="../Resources/Nouns/ExtWarrantyApplicationAreaType.xsd" />
	<xs:element name="ExtendedWarrantyPriceFetch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea"
					type="ApplicationAreaType" />
				<xs:element name="DataArea"
					type="PriceCheckDataAreaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PriceCheckDataAreaType">
		<xs:sequence>
			<xs:element name="PriceCheckRequest"
				type="PriceCheckRequestType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceCheckRequestType">
		<xs:sequence>
			<xs:element ref="DealerNo" />
			<xs:element ref="UserItemType" />
			<xs:element name="ItemNumber" type="xs:string" />
			<xs:element ref="Description" />
			<xs:element name="BUName" type="xs:string"/>
			<xs:element name="Plans" type="PlansType" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DealerNo" type="xs:string" />
	<xs:element name="UserItemType" type="xs:string" />
	<xs:element name="Description" type="xs:string" />

	<xs:complexType name="PlansType">
		<xs:sequence>
			<xs:element name="LineItem"
				type="PriceCheckRequestLineItemType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PriceCheckRequestLineItemType">
		<xs:sequence>
			<xs:element name="PlanCode" type="xs:string" />
			<xs:element name="PlanItemNumber" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>