integration/bods/src/main/xsd/Tavant/twms/BODs/ExtWarrantyDebitNotification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.tavant.com/extwarranty"
	xmlns="http://www.tavant.com/extwarranty"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include
		schemaLocation="../Resources/Nouns/ExtWarrantyApplicationAreaType.xsd" />
	<xs:include
		schemaLocation="../Resources/Nouns/ExtWarrantyPlans.xsd" />

	<xs:element name="SyncInvoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicationArea"
					type="ApplicationAreaType" />
				<xs:element name="DataArea"
					type="CreditNotificationDataAreaType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PurchaseOrderNumber" type="xs:string" />
	<xs:element name="DebitMemoNumber" type="xs:string" />
	<xs:complexType name="CreditNotificationDataAreaType">
		<xs:sequence>
			<xs:element name="Invoice" type="InvoiceType" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DocumentIdType">
		<xs:sequence>
			<xs:element ref="Id" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentIdsType">
		<xs:sequence>
			<xs:element name="DocumentId" type="DocumentIdType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element name="UserArea" type="UserAreaType" />
			<xs:element name="DocumentIds" type="DocumentIdsType" />
			<xs:element name="TotalAmount" type="xs:decimal" />
			<xs:element name="DealerNumber" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Id" type="xs:string" />
	<xs:complexType name="InvoiceType">
		<xs:sequence>
			<xs:element name="Header" type="HeaderType" />
			<xs:element name="DocumentDateTime" type="xs:dateTime" />
			<xs:element name="Line" type="LineType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LineType">
		<xs:sequence>
			<xs:element name="Tax" type="TaxType" />
			<xs:element name="TotalAmount">
				<xs:complexType>
					<xs:attribute name="currency" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TaxType">
		<xs:sequence>
			<xs:element name="TaxAmount" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserAreaType">
		<xs:sequence>
			<xs:element ref="PurchaseOrderNumber" />
			<xs:element ref="DebitMemoNumber" />
			<xs:element name="SerialNumber" type="xs:string"/>
			<xs:element name="PlansList" type="PlansListType"/>			
		</xs:sequence>
	</xs:complexType>

</xs:schema>
