integration/server/src/test/resources/webmethods/wsdl/processCreditSubmission.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="Tavant_Process" targetNamespace="http://www.webmethods.com/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:tns="http://www.webmethods.com/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/Tavant/Process/processCreditSubmission" xmlns:tns="http://localhost/Tavant/Process/processCreditSubmission">
          <xsd:complexType name="__processCreditSubmissionInput">
            <xsd:sequence>
              <xsd:element name="inData" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__processCreditSubmissionOutput">
            <xsd:sequence>
              <xsd:element name="status" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="processCreditSubmissionInput">
		<wsdl:part name="inData" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="processCreditSubmissionOutput">
		<wsdl:part name="status" type="xsd:string"/>
	</wsdl:message>
	<wsdl:portType name="Tavant_ProcessPortType">
		<wsdl:operation name="processCreditSubmission">
			<wsdl:input message="tns:processCreditSubmissionInput"/>
			<wsdl:output message="tns:processCreditSubmissionOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="Tavant_ProcessBinding" type="tns:Tavant_ProcessPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="processCreditSubmission">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/Tavant.Process" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.webmethods.com/Tavant.Process" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Tavant_ProcessService">
		<wsdl:port name="Tavant_ProcessPort0" binding="tns:Tavant_ProcessBinding">
			<soap:address location="http://10.80.14.28:5556/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
