integration/bods/src/main/xsd/Tavant/twms/Resources/Nouns/ExtWarrantyApplicationAreaType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.tavant.com/extwarranty"
	xmlns="http://www.tavant.com/extwarranty"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:oa="http://www.openapplications.org/oagis/9"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="ApplicationAreaType">
		<xs:sequence>
			<xs:element name="Sender" type="SenderType" />
			<xs:element ref="BODId" />
			<xs:element ref="CreationDateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SenderType">
		<xs:sequence>
			<xs:element ref="Task" />
			<xs:element ref="LogicalId" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LogicalId" type="xs:string"/>
	<xs:element name="Task" type="xs:string"/>
	<xs:element name="BODId" type="xs:string"/>
	<xs:element name="CreationDateTime" type="xs:dateTime"/>
</xs:schema>